@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import '../sass/variables';


*,
*::before,
*::after{
    font-family: "Nunito Sans", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: var(--Very-Dark-Blue-2);
}


html{
    font-size: 62.5%;

}
body{
    background-color: var(--Very-Light-Gray);
    font-size: $fs-400;
    max-width: 160rem;
    margin: 0 auto;

    &.active{
        // --White: var(--Very-Dark-Blue-2);
        --Very-Light-Gray: var(--Very-Dark-Blue);
        --Dark-Gray: var(--White);
        --Very-Dark-Blue-2: hsl(0, 0%, 100%);
        --White: var(--Dark-Blue);
    }
}
/* =========================
    |GENERAL STYLINGS|
========================= */

a{
    text-decoration: none;
    color: initial;
}
li{
    list-style: none;
}
.section{
    padding-inline: 5%;
}
button{
    cursor: pointer;
    border: none;
    background-color: transparent;
}
img{
    max-width: 100%;
    display: block;
}